// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  display: table;
  font-family: 'Lato';
  font-weight: 300;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

label {
  display: block;
}

pre {
  text-align: left;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 5em;
}

//.title {
//  font-size: 96px;
//}
.nav a {
  font-size: 3em;
  padding: 5px 20px;
}